[build]
    publish = "dist"
    command = "npm run build"

[[redirects]]
    from = "/*"
    to = "/index.html"
    status = 200

[[headers]]
    for = "/*.css"
    [headers.value]
        Content-Type = "text/css"