
main{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: clamp(2rem, 4vw, 3rem);
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100vw;
    padding: 20px;
}

img{
    width: 100%;
    max-height: 70vh;
    height: 100%;
    object-fit: cover;
}

article{
    padding: 20px;
}

article h2{
    font-size: clamp(1.3rem, 4vw, 2rem);
}

article p, article ul li{
    font-size: clamp(1rem, 2vw, 1.5rem);
}

@media screen and (max-width:550px) {
    .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }

    article{
        padding: 0;
    }

    .remove-in-mobile{
        display: none;
    }
}