@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

main{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: clamp(2rem, 4vw, 3rem);
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100vw;
    padding: 20px;
}

img{
    width: 100%;
    max-height: 70vh;
    height: 100%;
    object-fit: cover;
    z-index: 10;
}

article {
    z-index: 1;
    padding: 20px;
    animation: 1s ease-in-out slide-in-right;
}

article:nth-of-type(2){
    animation: 1s ease-in-out slide-in-left;
}

article h2{
    text-align: center;
    font-size: clamp(1.3rem, 4vw, 2rem);
}

article p, article ul li{
    font-size: clamp(1rem, 2vw, 1.5rem);
    text-align: start;
}

.artForms {
    display: flex;
}

@media screen and (max-width:550px) {
    .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }

    article{
        padding: 0;
        animation: none;
    }

    article:nth-last-of-type(2) {
        animation: none;
    }

    .remove-in-mobile{
        display: none;
    }
}