nav{
    justify-content: end;
}

nav li{
    margin-top: 10px;
}

.logoutButton {
    background-color: var(--content-color);
    color: var(--background);
    height: 30px;
    width: 100px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease-in;
}

.logoutButton:hover {
    background-color: var(--active-color);
    transition: background-color 0.3s ease-in;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}