main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
}

.info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info h1 {
    font-size: clamp(1.7rem, 5vw, 2.5rem);
}

.info p {
    font-size: clamp(1rem, 3vw, 1.2rem);
}

.info p:first-of-type {
    margin-bottom: 0;
}

.info p:last-of-type {
    margin-bottom: 40px;
}

.logo {
    width: 100px;
    height: 100px;
    background-image: url("/assets/icons/helene-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.navigation-container {
    display: flex;
    margin-bottom: 90px;
    gap: 10px;
}

.navigation-container a {
    display: flex;
    text-decoration: none;
    color: var(--background);
    background-color: var(--content-color);
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    transition: background-color 0.3s ease-in;
}

.navigation-container a:hover {
    background-color: var(--hover-color);
    transition: background-color 0.3s ease-in;
}

.socials-container {
    display: flex;
    gap: 40px;
}

.socials-container a {
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.3s ease-in, rotate 0.3s ease-in;
}

.socials-container a:hover {
    transform: scale(1.3);
    rotate: 10deg;
    transition: transform 0.3s ease-in, rotate 0.3s ease-in;
}

.facebook {
    background-image: url("/assets/icons/facebook.svg");
}

.instagram {
    background-image: url("/assets/icons/instagram.svg");
}

.mail {
    background-image: url("/assets/icons/mail.svg");
}

.credits {
    position: absolute;
    bottom: 5px;
}

.credits p {
    font-size: 1rem;
}

.credits a {
    color: var(--content-color);
}

.index-image {
    display: flex;
}

.index-image img {
    max-height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

@media screen and (max-width: 900px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info {
        position: absolute;
        padding: 40px;
        height: 89vh;
        color: var(--background);
    }

    .logo{
        background-image: url("../assets/icons/helene-logo-nosplash.png");
    }

    .navigation-container a {
        background-color: var(--background);
        color: var(--content-color);
    }

    .navigation-container a:hover {
        color: var(--background);
        transition: color 0.1s ease-in-out;
    }

    .index-image {
        height: 100%;
        width: 100%;
    }

    .facebook {
        background-image: url("/assets/icons/facebook-mobile.svg");
    }

    .instagram {
        background-image: url("/assets/icons/instagram-mobile.svg");
    }

    .mail {
        background-image: url("/assets/icons/mail-mobile.svg");
    }

    .credits a {
        color: var(--background);
    }

    
}


