body{
    position: relative;
}

main{
    margin-top: 50px;
    text-align: center;
}

.back-button {
    width: 10%;
    min-width: 100px;
    height: 50px;
    margin-left: 30px;
    background-color: var(--background);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: var(--content-color);
}

.back-icon {
    width: 50px;
    height: 50px;
    background-image: url("/assets/icons/back-button.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

main p{
    margin-inline: 20%;
    font-size: 1.2rem;
}

.image-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5%;
}

.image-container img{
    object-fit: cover;
    margin-top: 1vw;
}

.image-container img:hover{
    cursor: pointer;
}

.to-top{
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.to-top-icon{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: url("/assets/icons/to-top.svg");
    background-size: contain;
}

.modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
    align-items: center;
}

.modal button{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    cursor: pointer;
}

.exit-button{
    position: absolute;
    top: 10px;
    right: 10px;
    background-image: url("/assets/icons/exit-button.svg");
}

.next-button{
    position: absolute;
    top: 50%;
    right: 10px;
    background-image: url("/assets/icons/next-button.svg");

}

.previous-button{
    position: absolute;
    top: 50%;
    left: 10px;
    background-image: url("/assets/icons/previous-button.svg");
}

.modal img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 1;

}



@media screen and (max-width:550px) {
    main p {
        margin-inline: 10%;
    }
    
}