@font-face {
    font-family: "bebasKai";
    src: url("/styles/fonts/BebasKai.ttf");
}

:root{
    --background: #f1e3d4;
    --content-color: #663A10;
    --hover-color: #7A5445;
    --active-color: #b99c91;
    --font: "bebasKai", 'Courier New', Courier, monospace;
}

html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    margin: 0;
    color: var(--content-color);
    font-family: var(--font);
    background-color: var(--background);
}

nav {
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 50;
    background-color: var(--background);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--content-color);
    font-size: 1.1rem;
}

.active {
    color: var(--active-color);
    cursor: default;
}