@font-face {
    font-family: "roboto";
    src: url("/styles/fonts/Roboto-Regular.ttf");
}

:root{
    --background: #F0DDBC;
    --content-color: #521F0B;
    --hover-color: #7A5445;
    --active-color: #b99c91;
    --font: "roboto", 'Courier New', Courier, monospace;
}

html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    margin: 0;
    color: var(--content-color);
    font-family: var(--font);
    background-color: var(--background);
}

nav {
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 50;
    background-color: var(--background);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--content-color);
    font-size: 1.1rem;
}

.active {
    color: var(--active-color);
    cursor: default;
}