@font-face {
    font-family: "bebasKai";
    src: url("/styles/fonts/BebasKai.ttf");
}

:root{
    --background: #f1e3d4;
    --content-color: #4E2D0D;
    --hover-color: #7A5445;
    --active-color: #b99c91;
    --font: "bebasKai", 'Courier New', Courier, monospace;
}

html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    margin: 0;
    color: var(--content-color);
    font-family: var(--font);
    background-color: var(--background);
}

nav {
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 50;
    background-color: var(--background);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--content-color);
    font-size: 1.1rem;
}

.active {
    color: var(--active-color);
    cursor: default;
}


button, input, textarea {
    font-family: var(--font);
}

footer{
    background-color: var(--content-color);
    color: var(--background);
    display: flex;
    flex-direction: column;
    margin: 0px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 100%;
}

.helene-logo{
    width: 70px;
    height: 70px;
    background-image: url("/assets/icons/helene-logo-nosplash.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.socials-container {
    display: flex;
    gap: 40px;
    margin-block: 10px;
}

.socials-container a {
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.3s ease-in, rotate 0.3s ease-in;
}

.socials-container a:hover {
    transform: scale(1.3);
    rotate: 10deg;
    transition: transform 0.3s ease-in, rotate 0.3s ease-in;
}

.facebook {
    background-image: url("/assets/icons/facebook-mobile.svg");
}

.instagram {
    background-image: url("/assets/icons/instagram-mobile.svg");
}

.mail {
    background-image: url("/assets/icons/mail-mobile.svg");
}

.credits a{
    color: var(--background);
}